html, body, div, span, button, table, tr, td, ul, li,
h1, h2, h3, h4, h5, h6, a, a:hover, a:visited, a:active {
    padding: 0;
    margin: 0;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: transparent;
}

ul, li {
    list-style: none;
}