body {
    -webkit-backface-visibility: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    transform: translateY(0);
    transition: all .6s ease;

    &.hidden {
        transform: translateY(-100%);
    }
}